
.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 30%;
  align-self: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.record-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
